In [24]:
from filmsyl.data.data import get_imdb, get_netflix_example
from filmsyl.settings import *
import os
import pandas as pd
#Vectorization and similarity(linear kernel)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
imdb_df = get_imdb()
imdb_df

✅ imdb csv loaded
✅ data cleaned

,primaryTitle,startYear,runtimeMinutes,genres,titleId,title,averageRating,numVotes,Director,plot
0,Miss Jerry,1894.0,45,Romance,tt0000009,Miss Jerry,5.3,208.0,Alexander Black,The adventures of a female reporter in the 1890s.
1,The Corbett-Fitzsimmons Fight,1897.0,100,"Documentary,News,Sport",tt0000147,The Corbett-Fitzsimmons Fight,5.2,502.0,Enoch J. Rector,"This legendary fight was filmed on March 17, 1..."
2,The Story of the Kelly Gang,1906.0,70,"Action,Adventure,Biography",tt0000574,The Story of the Kelly Gang,6.0,871.0,Charles Tait,Just as Galeen and Wegener's Der Golem (1915) ...
3,The Prodigal Son,1907.0,90,Drama,tt0000591,The Prodigal Son,5.0,22.0,Michel Carré,The first feature-length motion picture produc...
11,The Life of Moses,1909.0,50,"Biography,Drama,Family",tt0001285,Forty Years in the Land of the Midian,5.4,60.0,J. Stuart Blackton,Released in five parts (The Persecution of the...
...,...,...,...,...,...,...,...,...,...,...
309924,9/11: Escape from the Towers,2018,120,Documentary,tt9914644,9/11: Escape from the Towers,8.3,155.0,Grace Chapman,Each World Trade Center tower consisted of 110...
309930,Life Without Sara Amat,2019,74,Drama,tt9914942,Life Without Sara Amat,6.7,206.0,Laura Jou,"Pep, a 13-year-old boy, is in love with a girl..."
309942,The Last White Witch,2019,97,"Comedy,Drama,Fantasy",tt9915872,The Last White Witch,6.4,9.0,Hideki Kiyota,"One day, a charming and mystical girl, Fuka, a..."
309945,Safeguard,2020,95,"Action,Adventure,Thriller",tt9916190,Safeguard,3.6,254.0,Fraser Precious,When a Japanese restaurant is extorted by the ...
309946,Coven,2020,92,"Drama,History",tt9916362,Coven,6.4,5738.0,Pablo Agüero,"French Basque Country, year 1609. The men of a..."

In [36]:
netflix_df = get_netflix_example()
netflix_df

✅ data cleaned
✅ netflix csv loaded

,startYear,runtimeMinutes,genres,titleId,title,averageRating,numVotes,Director
5,1922.0,60.0,"Adventure,Comedy,Drama",tt0013071,The Dictator,2.5,22.0,James Cruze
9,1932.0,107.0,Drama,tt0023679,Dope,7.2,32.0,Kurt Gerron
10,1933.0,77.0,"Comedy,Romance",tt0024298,The Man from Toronto,6.4,146.0,Sinclair Hill
11,1940.0,125.0,"Comedy,Drama,War",tt0032553,The Dictator,8.4,236108.0,Charles Chaplin
12,1939.0,90.0,"Drama,Romance",tt0032884,The Outsider,5.5,49.0,Paul L. Stein
...,...,...,...,...,...,...,...,...
259,2019.0,118.0,"Biography,Comedy,Drama",tt8526872,Dolemite Is My Name,7.2,64685.0,Craig Brewer
260,2022.0,134.0,"Biography,Drama,Sport",tt8745676,The Swimmers,7.4,35500.0,Sally El Hosaini
261,2020.0,116.0,"Action,Thriller",tt8936646,Extraction,6.8,260424.0,Sam Hargrave
264,2020.0,109.0,"Biography,Drama,Music",tt9694312,Stardust,4.4,2279.0,Gabriel Range
265,2023.0,122.0,"Comedy,Mystery,Sci-Fi",tt9873892,They Cloned Tyrone,6.6,39373.0,Juel Taylor

In [37]:
imdb_df['text_features']= imdb_df['genres'] + ' ' + imdb_df['Director']+ ' ' + imdb_df['plot']
imdb_df_preprocess=imdb_df.drop(columns=['genres','Director','averageRating','titleId','startYear','numVotes','runtimeMinutes'])

netflix_df['text_features'] = netflix_df['title'] + ' ' + netflix_df['genres'] + ' ' + netflix_df['Director']
netflix_df_preprocess=netflix_df.drop(columns=['genres','Director','averageRating','titleId','startYear','numVotes','runtimeMinutes'])

In [13]:

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
imdb_df['text_features'] = imdb_df['text_features'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(imdb_df['text_features'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(131069, 42367)

In [26]:
netflix_tfidf = tfidf.transform(netflix_df['text_features'])

In [27]:
netflix_tfidf.shape

(180, 42367)

In [28]:
indices = pd.Series(imdb_df.index, index=imdb_df['primaryTitle']).drop_duplicates()
indices

primaryTitle
Miss Jerry                            0
The Corbett-Fitzsimmons Fight         1
The Story of the Kelly Gang           2
The Prodigal Son                      3
The Life of Moses                    11
                                  ...
9/11: Escape from the Towers     309924
Life Without Sara Amat           309930
The Last White Witch             309942
Safeguard                        309945
Coven                            309946
Length: 131069, dtype: int64

In [60]:
cosine_sim_netflix = linear_kernel(netflix_tfidf, tfidf_matrix)

In [21]:
mean_similarity = np.mean(cosine_sim_netflix, axis=0)
mean_similarity

array([0.0101818 , 0.00413177, 0.03741098, ..., 0.01512226, 0.04185741,
       0.0068101 ])

In [71]:
imdb_df['mean_similarity'] = mean_similarity

In [72]:
recomendation = imdb_df.sort_values(by='mean_similarity', ascending=False)

In [76]:
recomendation['primaryTitle'].head(10)

104402                Super Duper
218900               Call Me King
279035            Husband Killers
82926     The Face of the Serpent
16776           Society Smugglers
266107            The River Thief
16740              The Rookie Cop
20222                Blonde Alibi
93723                  Death Race
229720                    Reclaim
Name: primaryTitle, dtype: object